@import "variables";

.headerBar {
	color:#fff;
	width:100%;
	height:55px;
	position:absolute;
	top:0;
	left:0;
	background-color:$dark-gray;
	font-family: 'Source Sans Pro', sans-serif;


	img { 

		margin-left:10px;
		width:25px;
		margin-right:10px;

	}

	button {
		margin-top:5px;
		margin-left:30px;
		background-color:$dark-gray;
		border: 2px solid #fff;
		// max-width:135px;
		overflow:hidden;

	}

	h4 { 

		display:inline;
		line-height: 20px;
		letter-spacing: 4px;
		margin-left:20px;
		// margin-top:51px;


	}

	.login {

		margin-right:20px

	}
	.title {

		position:absolute;
		left:160px;
		top:15px;
	}

	.header-right {
		margin-top:-30px;
		padding-top:0px;
		float:right;

	}

	.mode-about {
		padding-right:20px;

	}

}



.mode-indicator { 

	font-family: 'Source Sans Pro', sans-serif;
	margin-right:10px;
	text-transform:uppercase;
	letter-spacing: 3px;
}