body {

	overflow-x:hidden;
	overflow-y: hidden;
	background-color:#ecf0f1;

}

.main-container {

	width:900px;
	margin-left:auto;
	margin-right:auto;

}

.loading-container {

	text-align:center;
	margin-top:300px;
}