

.card-container {

	background-color:white;
	border:1px solid #ccc;
	width:600px;
	height:600px;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	padding-top:60px;
	text-align:center;
	-webkit-box-shadow: 2px 9px 36px -8px rgba(0,0,0,1);
	-moz-box-shadow: 2px 9px 36px -8px rgba(0,0,0,1);
	box-shadow: 2px 9px 36px -8px rgba(0,0,0,1);


	img {

		width:80px;
	}

	.repo-bg-image {

		height:200px;
		background-repeat:no-repeat;
		background-position: center center;
	}

	.description-container {

		text-align:left;
		padding:30px;
		color:gray;
		font-size:18px;
		height:100px;

	}


	.card-button-group {

		width:200px;
		margin-right:auto;
		margin-left:auto;

	}


	.stats-container {

		margin-top:30px;
		margin-bottom:20px;
		text-align:center;
		width:200px;
		margin-right:auto;
		margin-left:auto;

	}



}




.repo-title{
	
	
}